<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="player.andre.awareplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".ListenerService"/>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBZRE3FhTrjRrhYUIYO5iquPf0rF3vD9yA"/>
    </application>

</manifest>
